#dilkash {
    font-weight : 100;
    background-color: yellow;
    font-size: small;
    color: white;
}

.dilkash-name {
   
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 145px;
    padding-left: 85px;
    color: black;
    font-size: 15px;
    width: 300px;
    height: 150px;

}